
.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
display: flex;

}
.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter:invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

.log{

    height: 35px;
    width: 80px;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    border: none;
}
.sign{
    height: 35px;
    border: none;
    width: 80px;
    background-color: #121212;
    border: #121212;
    border-radius: 50px;
    color: rgb(243, 238, 230);
}