*{
    font-family:  poppins;
    margin: 0%;
    padding: 0%;
    
}
.header{
    text-align: center;
    background-color: aliceblue;
    text-shadow: 10px;
    -webkit-text-stroke: 0.5px;
    text-transform: uppercase;
    font-weight: 60;
}

#head2,#head1{
    text-align: center;
    background-color: aliceblue;
    text-shadow: 10px;
    -webkit-text-stroke: 0.5px;
    text-transform: uppercase;
    font-weight: 60;    
}
.center{
    display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Full height of the viewport */
}
img:hover{
    border: 10px;
    border-style: solid;
    border-radius: 50px;
    justify-content: center;
    transition: cubic-bezier(0.23, 1, 0.320, 1);
}

body{
    background: #ec14004e;
    background-color: rgb(60, 52, 46);
    background-repeat:inherit;
}