h1{
    text-align: center;
    color: rgb(90, 39, 39);
    background-color: rgba(6, 9, 1, 0.238);
}
h2{
    text-align: center;
    color: rgb(90, 39, 39);
    background-color: rgba(6, 9, 1, 0.462);
}


h3{
    text-align: center;
    color: rgb(1, 70, 42);
    background-color: rgba(26, 7, 7, 0.57);

}