h1{
    background-color: antiquewhite;
    width: fit-content;
    border: 2px solid red;
    box-shadow: 5px 5px 10px #888888;

}

#cli{

    background: #000;color:aquamarine ;
    height: 20px;
    width: 200px;
    /* display: flex;
    text-align: center;
    justify-content: center;
    margin: 0; */
      display: block;
  margin: 0 auto;
}